* {
    text-align: center;
    color: tan;
    font-family: system-ui;
    background-color: darkslategray;
}
html {
    /* fix mobile background color: */
    min-height: 100vh;
    min-height: 100dvh;
    background-color: darkslategray;
}
input {
    border-color: tan;
    outline: none;
    width: 75%;
    font-size: 16px;

}